<%= render 'shared/banner' %>
<div class="container">
  <div class="my-5">
  <h1 id="newest">Newest</h1>
  </div>
  <div class="row">
    <% @cocktails.last(3).each do |cocktail| %>
      <div class="col-4 p-1">
          <%= link_to cocktail_path(cocktail), class: 'text-white text-decoration-none' do %>
          <div class="card-category" data-aos="fade" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path cocktail.photo, height: 180, width: 372, crop: :scale %>')">
            <%= cocktail.name %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="my-5">
  <h1>All our cocktails</h1>
  </div>
  <div class="row">
    <% @cocktails.each do |cocktail| %>
      <div class="col-4 p-1">
        <%= link_to cocktail_path(cocktail), class: 'text-white text-decoration-none' do %>
          <div class="card-category" data-aos="fade" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path cocktail.photo, height: 180, width: 372, crop: :scale %>')">
            <%= cocktail.name %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>



  <!-- <h1>All our cocktails</h1> -->
  <!-- <div class="row">
    <%# @cocktails.last(6).each do |cocktail| %>
      <div class="col-2 p-2">
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://source.unsplash.com/daily?cocktail))">
          <%#= link_to cocktail_path(cocktail) do %>
            <%#= cocktail.name %>
          <%# end %>
        </div>
      </div>
    <%# end %>
  </div> -->
</div>
