<div class="create_banner d-flex align-items-center" id="dose">
  <div class="container">
    <h1 class="mb-3">Add a dose for <%= @cocktail.name %></h1>
    <%= simple_form_for [@cocktail, @dose] do |f| %>
      <%= f.input :description %>
      <%= f.association :ingredient %>
      <%= f.button :submit, class: 'btn btn-yan' %>
    <% end %>
  </div>
</div>
